.BoardControl {
  border: $border-medium solid var(--color-font);
  border-radius: $borderRaduis-medium;
  margin-top: $size-large1;
  padding: $size-medium2;

  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  &--params {
    background-color: var(--color-light);
    box-shadow: var(--color-medium) $boxShadow-medium;
    &-layout {
      display: flex;
      flex-direction: column;
    }
  }
  &--settings {
    background-color: var(--color-medium);
    box-shadow: var(--color-neon) $boxShadow-medium;
  }
  &__button {
    // width: $size-large1;
    // height: $size-large1;
    padding: 0;
    border: none;
    border-radius: $borderRaduis-medium;
    background-color: transparent;
    transition: background-color 300ms ease-out;

    &:hover {
      background-color: var(--color-medium);
    }
    &--svgStroke {
      vertical-align: middle;
      stroke: var(--color-font);
      width: $size-large2;
      height: $size-large2;
    }
  }
  &__label {
    display: none;
  }
  &__input {
    background-color: var(--color-light);
    border: solid var(--color-light);
    border-radius: $borderRaduis-medium;
    text-align: center;
    padding: $size-small2;
    width: $size-large2;
  }
  &__select {
    background-color: var(--color-light);
    border: solid var(--color-light);
    border-radius: $borderRaduis-medium;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
