a {
  text-decoration: none;
  font-weight: normal;
  color: var(--color-dark);
}
a:hover {
  text-decoration: underline var(--color-neon);
}
h1 {
  color: var(--color-font);
  font-family: $font-title;
  font-size: $font-size-title;
  margin: 0;
}
h2 {
  font-family: $font-body;
  font-size: $font-size-body;
  margin: 0;
}
h3,
h4,
p,
a,
input,
select,
textarea,
button,
li {
  font-family: $font-body;
  font-size: $font-size-body;
  margin: 0;
}
