.name {
  display: flex;
  align-items: baseline;
  justify-content: center;
  // margin-top: 10%;
  &__letters {
    text-shadow: $color-medium 4px 2px;
  }
  &__dice {
    height: 50px;
    width: 50px;
  }
}
