.button {
  border: $border-medium var(--color-font) solid;
  border-radius: $borderRaduis-medium;

  cursor: pointer;
  &__cta {
    background-color: var(--color-neon);
    box-shadow: var(--color-medium) $boxShadow-medium;
    width: 100%;
    min-height: $size-large3;
    &--text {
      color: var(--color-background);
    }
  }
  &__standard {
    background-color: var(--color-light);
    color: var(--color-font);
    box-shadow: var(--color-medium) $boxShadow-medium;
    width: 100%;
    min-height: $size-large3;
    &--flex {
      display: flex;
      align-items: center;
    }
  }
  &__small {
    // width: $size-large2;
    // height: $size-large2;
    width: auto;
    height: auto;
    // padding: $size-small1;
    background-color: var(--color-medium);
    color: var(--color-font);
    &--size {
      width: $size-large1;
      height: $size-large1;
    }
  }

  &__svg--center {
    display: flex;
  }

  &__donation {
    background-color: #ff5f5f;
  }
}
