$color-background-blue: #d9d9d9;
$color-light-blue: #cae8ff;
$color-medium-blue: #5cb6f9;
$color-neon-blue: #233dff;
$color-dark-blue: #12229d;
$color-font-blue: #050a30;

$color-background-green: #f2f5de;
$color-light-green: #d0ffb7;
$color-medium-green: #86e7b8;
$color-neon-green: #0c8346;
$color-dark-green: #243010;
$color-font-green: #363732;
:root {
  --color-background: #{$color-background-blue};
  --color-light: #{$color-light-blue};
  --color-medium: #{$color-medium-blue};
  --color-neon: #{$color-neon-blue};
  --color-dark: #{$color-dark-blue};
  --color-font: #{$color-font-blue};
}
.theme-blue {
  --color-background: #{$color-background-blue};
  --color-light: #{$color-light-blue};
  --color-medium: #{$color-medium-blue};
  --color-neon: #{$color-neon-blue};
  --color-dark: #{$color-dark-blue};
  --color-font: #{$color-font-blue};
}

.theme-green {
  --color-background: #{$color-background-green};
  --color-light: #{$color-light-green};
  --color-medium: #{$color-medium-green};
  --color-neon: #{$color-neon-green};
  --color-dark: #{$color-dark-green};
  --color-font: #{$color-font-green};
}

$font-title: 'Lobster', sans-serif;
$font-body: 'Rowdies', sans-serif;
$font-size-body: 1.5rem;
$font-size-tools: 4rem;
$font-size-title: 5rem;

$size-small1: 0.25rem; //4px
$size-small2: 0.5rem; //8px
$size-small3: 0.75rem; //12px

$size-medium1: 1rem; //16px
$size-medium2: 1.25rem; //20px
$size-medium3: 1.5rem; //24px

$size-large1: 2rem; //32px
$size-large2: 3rem; //48px
$size-large3: 4rem; //64px
$size-large4: 5rem; //80px

$global-size: 100%; //62.5%

$border-thin: 0.2rem;
$border-medium: 0.25rem;
$border-large: 0.5rem;

$borderRaduis-square: 99rem;
$borderRaduis-thin: 0.4rem;
$borderRaduis-medium: 0.8rem;
$borderRaduis-large: 1.2rem;

$boxShadow-medium: 6px 4px;
