$color-background: #d9d9d9;
$color-light: #cae8ff;
$color-medium: #5cb6f9;
$color-neon: #233dff;
$color-dark: #12229d;
$color-font: #050a30;

$font-title: 'Lobster', sans-serif;
$font-body: 'Rowdies', sans-serif;
$font-size-body: 1.5rem;
$font-size-title: 5rem;

$global-size: 62, 5%;
