.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  &__main {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    &--button {
      width: 90%;
      &-svg {
        margin-right: $size-medium2;
        width: $size-large1;
        height: $size-large1;
      }
    }
    &--others {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20%;
    }
  }
}
