.randomLetter__lettersAppeared {
  margin-top: $size-large1;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  &--letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-medium2;
    height: $size-medium3;
    margin: $size-small2;
    border: var(--color-font) $border-medium solid;
    border-radius: $borderRaduis-thin;
    padding: $size-small2;
    background-color: var(--color-medium);
    justify-self: center;
    box-shadow: var(--color-neon) $boxShadow-medium;
    &:last-child {
      background-color: var(--color-light);
      box-shadow: var(--color-medium) $boxShadow-medium;
    }
  }
}
