@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rowdies:wght@300&display=swap");
.theme-blue {
  --color-background: #d9d9d9;
  --color-light: #cae8ff;
  --color-medium: #5cb6f9;
  --color-neon: #233dff;
  --color-dark: #12229d;
  --color-font: #050a30;
}

.theme-green {
  --color-background: #f2f5de;
  --color-light: #d0ffb7;
  --color-medium: #86e7b8;
  --color-neon: #0c8346;
  --color-dark: #243010;
  --color-font: #363732;
}

#test_color {
  color: var(--color-neon);
  font-size: large;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: #d9d9d9;
  box-sizing: border-box;
  color: #050a30;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

#body {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: none;
}

h1 {
  color: #050a30;
  font-family: "Lobster", sans-serif;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-family: "Rowdies", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h3,
h4,
p,
a,
input,
select,
textarea,
button,
li {
  font-family: "Rowdies", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
}
.nav-main {
  width: 100%;
}
.nav-others {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}
.nav--button {
  margin-top: 1.25rem;
}

.name {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.name__letters {
  text-shadow: #5cb6f9 4px 2px;
}
.name__dice {
  height: 50px;
  width: 50px;
}

.button {
  border: 0.25rem #050a30 solid;
  border-radius: 0.8rem;
  cursor: pointer;
}
.button-CTA {
  background-color: #233dff;
  color: #d9d9d9;
  box-shadow: #5cb6f9 6px 4px;
  width: 100%;
  min-height: 4rem;
}
.button-Standard {
  background-color: #cae8ff;
  color: #050a30;
  box-shadow: #5cb6f9 6px 4px;
  width: 100%;
  min-height: 4rem;
}
.button-Standard__flex {
  display: flex;
  align-items: center;
}
.button--small {
  width: 3rem;
  height: 3rem;
  background-color: #5cb6f9;
  color: #050a30;
}
.button--svg {
  margin-right: 1.25rem;
  width: 2rem;
  height: 2rem;
}
.button-others svg {
  height: 100%;
  width: 100%;
  padding: 0;
}
.button-others-stroke {
  stroke: #050a30;
}
.button-others-fill {
  fill: #050a30;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__margin {
  margin-top: 10%;
}

.title {
  width: 90%;
  border-bottom: 0.25rem solid #050a30;
  text-align: left;
  word-wrap: break-word;
  margin-top: 2rem;
}

.BoardControl {
  border: 0.25rem solid #050a30;
  border-radius: 0.8rem;
  margin-top: 2rem;
  padding: 1.25rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.BoardControl--params {
  background-color: #cae8ff;
  box-shadow: #5cb6f9 6px 4px;
}
.BoardControl--settings {
  background-color: #5cb6f9;
  box-shadow: #233dff 6px 4px;
}
.BoardControl__button {
  padding: 0;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  transition: background-color 300ms ease-out;
}
.BoardControl__button:hover {
  background-color: #5cb6f9;
}
.BoardControl__button--svgStroke {
  vertical-align: middle;
  stroke: #050a30;
  width: 3rem;
  height: 3rem;
}
.BoardControl__label {
  display: none;
}
.BoardControl__input {
  background-color: #cae8ff;
  border: solid #cae8ff;
  border-radius: 0.8rem;
  text-align: center;
  padding: 0.5rem;
  width: 3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.randomLetter__lettersAppeared {
  margin-top: 2rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}
.randomLetter__lettersAppeared--letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.5rem;
  margin: 0.5rem;
  border: #050a30 0.25rem solid;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: #5cb6f9;
  justify-self: center;
  box-shadow: #233dff 6px 4px;
}
.randomLetter__lettersAppeared--letter:last-child {
  background-color: #cae8ff;
  box-shadow: #5cb6f9 6px 4px;
}

.toolsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toolsContainer__item {
  border: 0.25rem solid #050a30;
  background-color: #cae8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.toolsContainer__item--rectangle {
  width: 10rem;
  height: 14rem;
  border-radius: 1.2rem;
}
.toolsContainer__item--square {
  width: 10rem;
  height: 10rem;
  border-radius: 0.8rem;
}
.toolsContainer__item--fontSize {
  border-top: 0.25rem solid #233dff;
  border-bottom: 0.25rem solid #233dff;
  min-width: 60%;
  font-size: 4rem;
}

/*# sourceMappingURL=style.css.map */
